.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: scale(0.95);
}

.output_box {
  width: 80%;
  max-width: 800px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 16px 40px;
}

.seperator {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 16px 0;
}

